@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

body {
	font-family: Lemonada;
}

header {
	background-color: #f6eee1;
	padding: 1rem 2rem;
	top: 0;
	width: 100%;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 0.3s ease-in-out;
}

/* Create a new style for hidden state */
#header.hidden {
	opacity: 0;
}

header img {
	height: 4.5rem;
	width: auto;
}

.topnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	padding: 0 15px;
}

ul a {
	text-decoration: none;
	transition: all 0.3s ease;
}
ul a:hover {
	background-color: #dddddd5d;
	color: #000;
}

nav > ul {
	list-style-type: none;
	display: flex;
	flex: row;
}

/* mobile */

@media screen and (max-width: 768px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.nav-links {
		position: absolute;
		background-color: #333;
		width: 100%;
		top: 100%;
		left: 0;
		display: none;
	}

	.nav-links.active {
		display: block;
	}
}

/* desktop 1440px and above */
@media screen and (min-width: 768px) {
	img {
		display: block;
		width: 100%;
	}
	header {
		padding: 0.5rem 1rem;
	}
}
