main {
	margin-block: 7.5rem 1rem;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 85%;
	margin-inline: auto;
	gap: 1rem;
}

@media screen and (max-width: 768px) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 375px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 1440px) {
	.wrapper {
		width: 75%;
	}
}
