main {
	margin-top: 7.5rem;
	margin-bottom: 1rem;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	margin-inline: auto;
	gap: 1rem;
	padding-inline: 1.5rem;
}

@media screen and (max-width: 768px) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 375px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}
